<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flamingo.elektrohjelpen" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kundeinformasjon"
            android:label="@string/title_activity_kundeinformasjon" >
        </activity>
        <activity
            android:name=".nyKunde"
            android:label="@string/title_activity_ny_kunde" >
        </activity>
        <activity
            android:name=".oppgaveListe"
            android:label="@string/title_activity_oppgave_liste" >
        </activity>
        <activity
            android:name=".nyOppgave"
            android:label="@string/title_activity_ny_oppgave" >
        </activity>
        <activity
            android:name=".enhetsomregning"
            android:label="@string/title_activity_enhetsomregning" >
        </activity>
        <activity
            android:name=".mainOhmsLov"
            android:label="@string/title_activity_main_ohms_lov" >
        </activity>
        <activity
            android:name=".mainOhmsLov"
            android:label="@string/title_activity_main_ohms_lov" >
        </activity>
        <activity
            android:name=".Volt"
            android:label="@string/title_activity_volt" >
        </activity>
        <activity
            android:name=".Ampere"
            android:label="@string/title_activity_ampere" >
        </activity>
        <activity
            android:name=".Resistans"
            android:label="@string/title_activity_resistans" >
        </activity>
        <activity
            android:name=".Watt"
            android:label="@string/title_activity_watt" >
        </activity>
        <activity
            android:name=".ccAvstand"
            android:label="@string/title_activity_cc_avstand" >
        </activity>
    </application>

</manifest>
